<div class="card m-2">
  <!-- <img class="card-img-top" th:src="@{img_avatar_1.png}" alt="Card image" /> -->
  <div class="card-body">
    <h4 class="card-title">제목</h4>

    <a th:href="@{#}" class="btn btn-primary">상세보나나나기</a>
  </div>
</div>
<div class="card m-2">
  <!-- <img class="card-img-top" th:src="@{img_avatar_1.png}" alt="Card image" /> -->
  <div class="card-body">
    <h4 class="card-title">제목</h4>

    <a th:href="@{#}" class="btn btn-primary">상세21312312보나나나기</a>
  </div>
</div>

<div class="card m-2">
  <!-- <img class="card-img-top" th:src="@{img_avatar_1.png}" alt="Card image" /> -->
  <div class="card-body">
    <h4 class="card-title">제목</h4>

    <a th:href="@{#}" class="btn btn-primary">나asdasda기</a>
  </div>
</div>
