<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragment/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div class="container">
      <div th:replace="fragment/bodyHeader :: bodyHeader" />
      <div class="jumbotron">
        <h1>HELLO SHOP</h1>
        <p class="lead">회원 기능</p>
        <p>
          <a class="button is-medium is-dark" href="/members/new">회원 가입</a>
          <a class="button is-medium is-dark" href="/members">회원 목록</a>
        </p>
        <p class="lead">상품 기능</p>
        <p>
          <a class="button is-black is-medium" href="/items/new">상품 등록</a>
          <a class="button is-black is-medium" href="/items">상품 목록</a>
        </p>
        <p class="lead">주문 기능</p>
        <p>
          <a class="button is-primary is-medium" href="/order">상품 주문</a>
          <a class="button is-primary is-medium" href="/orders">주문 내역</a>
        </p>
      </div>
      <div th:replace="fragment/footer :: footer" />
    </div>
  </body>
</html>
